body {
    background: white;
}
h3 {
    color: cyan;
}
.day_2{
    color: blue;
}
.day_2_h3 {
    color: red;
}
#day_1 {
    color: green;
}
#listid_2 {
    color: #fb5607;
}
.listclass_3 {
    color: #ff006e;
}
li {
    color: #8338ec;
}
.pseudo_1:hover{
    color: #fca311;
}
dt:first-child {
    color: steelblue;
}
dd:last-child {
    color: pink;
}
li:first-child:hover{
    color: darkorange;
}
li:nth-child(2):hover{
    color: #a2d2ff;
}
li:only-child {
    color: purple;
}
.indexpage:link {
    color: darkblue;
}
.indexpage:visited {
    color: pink;
}
/* to command something in css this is the shortcut - select the text and then click ctrl + slash  or type manually with * asterisk with / forward slash */
h4 + a {
    color: yellow;
    background-color: black;
}
textarea ~ button {
    color: white;
    background-color: aquamarine;
    border: aquamarine;
}
#idul_3 > #idli_3 {
    color: gold;
}
#idul_3 #idli_3_ol {
    color: #ff006e;
}
img[src="Milky_way_map.png"] {
    border: 10px solid pink;
}