body {
    background: white;
}
h3 {
    color: cyan;
}
.day_2{
    color: blue;
}
.day_2_h3 {
    color: red;
}
#day_1 {
    color: green;
}

#listid_2 {
    color: #fb5607;
}

.listclass_3 {
    color: #ff006e;
}

li {
    color: #8338ec;
}

.pseudo_1:hover{
    color: #fca311;
}

